@charset "UTF-8";

:root {
    --cor01: #BCBFB8;
    --cor02: #7D8C87;
    --cor03: #2E5159;
    --cor04: #051926;
    --cor05: #01080D;

    --font-h1: serif;
    --font-h2: serif;
    --fonte-p: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Geral */
body {
    background-color: var(--cor01);
}

hr {
    background-color: var(--cor05);
}

h1 {
    font-family: var(--font-h1);
}

h2 {
    font-family: var(--font-h2);
}

p {
    font-family: var(--fonte-p);
    line-height: 2em;
}

/* Header */
header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    color: var(--cor01);
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.5em;
}

/* Nav */
nav {
    background: var(--cor05);
    padding: 10px;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

nav li {
    margin-right: 15px;
    margin-left: 15px;
}

nav a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main */
main {
    background: white;
    max-width: 800px;
    margin: 30px auto 30px auto;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

main h1 {
    font-size: 2em;
    text-align: left;
    padding: 10px;
}

main h2 {
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}

main p {
    font-size: 1em;
    text-align: justify;
    padding: 5px 15px;
}

/* Footer */
footer {
    background-color: var(--cor05);
    color: var(--cor01);
    text-align: center;
    padding: 30px;
}

@media (max-width: 800px) {
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav li {
        margin-top: 10px;
    }
}